In [1]:
from datasets import load_dataset
import pandas as pd

# Wczytanie zbioru danych abalone
dataset = load_dataset("mstz/abalone", "abalone", split = "train")

# Przekszta≈Çcenie zbioru danych do ramki danych pandas
df = pd.DataFrame(dataset)
df.head()

Found cached dataset abalone (/Users/majerek/.cache/huggingface/datasets/mstz___abalone/abalone/1.0.0/6b36dc17f58cff2d7669864db987d45162b556f34ec3872f5c46d76837c6d35b)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,number_of_rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [2]:
df.to_csv("abalone.csv")